h2 {
    text-align: center;
}

h3 {
    text-align: center;
}


body {
    text-align: center;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}

div {
    text-align: center;
    align-items: center;
}

button {
    width: 150px;
    margin-bottom: 10px;
}