h2 {
    text-align: center;
}


form {
    border: 3px solid #f1f1f1;
    display: contents;
    width: 300px;
    margin: auto;
}


body {
    text-align: center;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}


input {
    display: inline-block;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    background: #e6e6e6;
    margin-bottom: 10px;
    text-align: center;
}

img.avatar {
    width: 60%;
    border-radius: 50%;
}

button {
    width: 100px;
}

