h2 {
    text-align: center;
}

h3 {
    text-align: center;
}


body {
    text-align: center;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}

id {
    display: inline-block;
    width: 450px;
    height: 25px;
    border-radius: 5px;
    background: #e6e6e6;
    margin-bottom: 10px;
    text-align: center;
}


button {
    width: 150px;
    margin-bottom: 10px;
}