<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Welcome to the Reservation Page</title>
</head>
<body>
<div>
    <form>
        <div>
            <label for="buildings"><b>Building : </b></label>
            <select name="buildings" id="buildings">
                <option value="Select Building" selected disabled>Select Building</option>
                <option th:each="buildingName : ${buildingFloorMap.keySet()}" th:attr="value=${buildingName}"
                        th:text="${buildingName}"></option>
            </select>
        </div>

        <div th:each="buildingName : ${buildingFloorMap.keySet()}" th:attr="id=${buildingName}">

            <div th:attr="id=${buildingName} + '-floor'">
                <label for="floors"><b>Floor : </b></label>
                <select name="floors" id="floors">
                    <option value="Select Floor" selected disabled>Select Floor</option>
                    <div></div>
                    <option th:each="floor, stats : ${buildingFloorMap.get(buildingName)}"
                            th:attr="value=${floor.keySet().iterator().next()}"
                            th:text="${floor.keySet().iterator().next()}"></option>
                    <br></br>
                </select>
            </div>

            <div th:each="floor, stats : ${buildingFloorMap.get(buildingName)}"
                 th:with="floorNo=${floor.keySet().iterator().next()}"
                 th:attr="id=${buildingName}+ '-' + ${floorNo}+'-dates'">

                <label for="dates"><b>Date : </b></label>
                <select name="dates" id="dates">
                    <option value="Select Date" selected disabled>Select Date</option>
                    <div></div>
                    <option th:each="entry : ${floor.get(floorNo)}" th:attr="value=${entry}"
                            th:text="${entry}"></option>
                    <br></br>
                </select>
            </div>
        </div>
    </form>
</div>
</body>
</html>