<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Welcome to the Reservation Page</title>
</head>
<body>
<h2>Book your Bench</h2>
<div>
    <form>
        <div>
            <label for="buildings"><b>Building</b></label>
            <select name="buildings" id="building">
                <option value="Tower1">Tower 1</option>
                <option value="Tower2">Tower 2</option>
                <option value="Tower3">Tower 3</option>
                <option value="Tower4">Tower 4</option>
                <option value="Tower5">Tower 5</option>
                <br></br>
            </select>
        </div>

        <div>
            <label for="floors"><b>Floor</b></label>
            <select name="floors" id="floor">
                <option value="Floor1">Floor 1</option>
                <option value="Floor2">Floor 2</option>
                <option value="Floor3">Floor 3</option>
                <option value="Floor4">Floor 4</option>
                <option value="Floor5">Floor 5</option>
                <br></br>
            </select>
        </div>
        <div>
            <label for="reservationDate"><b>Reservation date</b></label>
            <select name="date" id="date">
                <option value="Floor1">Floor 1</option>
                <option value="Floor2">Floor 2</option>
                <option value="Floor3">Floor 3</option>
                <option value="Floor4">Floor 4</option>
                <option value="Floor5">Floor 5</option>
                <br></br>
                <p>Available seats : </p>

        </div>

    </form>
</div>
</body>
</html>