<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="loginpage1.css">
    <meta charset="UTF-8">
    <title>Welcome to Book your Bench Login Page</title>
</head>
<body>
<div class="container">
    <form id="form_login">

        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <br></br>
        <label><b>Password</b></label>
        <input type="text" placeholder="Enter password" name="pswd" required>
        <br></br>
        <button type="submit">Login</button>

    </form>
</div>


</body>
</html>