<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="loginpage1.css">

    <meta charset="UTF-8">
    <title>Book your Bench</title>
    <style>
        body {
            font-family: Verdana, Arial, sans-serif;
        }
    </style>
</head>
<body>
<br />
<h2>Welcome to Book your Bench</h2>

<form id="form_login" method="post" action="/authenticateuser">
    <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
        <br/>
    </div>

    <div class="container">
        <div id="inner">
            <input type="number" placeholder="UserId" name="userid" required autocomplete="off">
            <br/>

            <input type="password" placeholder="Password" name="password" required>

            <br/>
            <button type="submit">Login</button>

            <!--/*@thymesVar id="error" type=""*/-->
            <p style="color: red" th:text="${error}"></p>
        </div>
    </div>
</form>

</body>
</html>