<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="reservationpage.css">
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<!--/*@thymesVar id="username" type=""*/-->
<h2 th:text="'Hi ' + ${username}"></h2>
<h3>Reserve your next working place</h3>
<div>
    <!-- There are 2 forms in this template with method type as get and redirecting to two different pages.
     -->
    <form id="reservation-form" method="get" action="/bookseat"></form>
    <!--/*@thymesVar id="canReserve" type=""*/-->
    <div th:switch="${canReserve}">
        <button type="submit" form="reservation-form" th:case="true">Book a seat</button>
        <button type="submit" form="reservation-form" th:case="false" disabled>Book a seat</button>
    </div>
</div>
<div>
    <form id="view-reservation-form" method="get" action="/viewreservations"></form>
    <button type="submit" form="view-reservation-form">View booked seats</button>
</div>
</body>
</html>